*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: whitesmoke;
}

.tela-login{
    width:40% ;
    height: 1000px;
    background-color: black;
}